<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bing.lan.comm">

    <!-- 检查网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读写存储卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 高德地图权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 二维码 / 直播-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 二维码 -->

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/iv_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 高德地图 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="055c48c8003d90c979b44f920d2227d4"/>
        <!-- 声明定位service -->
        <service android:name="com.amap.api.location.APSService"/>

        <!-- 高德地图 -->


        <!-- 登录页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
        >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 主页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 欢迎页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 注册页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 忘记密码页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.forgetPassword.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 代理商登记页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.joinagent.JoinAgentActivity"
            android:label="@string/title_activity_join_agent"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 经销商登记页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.joindealer.JoinDealerActivity"
            android:label="@string/title_activity_join_dealer"
            android:theme="@style/AppTheme.NoActionBar">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 加盟/登记页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.join.JoinUsActivity"
            android:label="@string/title_activity_join_us"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 代理商页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.agent.AgentActivity"
            android:label="@string/title_activity_agent"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 资产页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.asset.AssetActivity"
            android:label="@string/title_activity_asset"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 经销商页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.dealer.DealerActivity"
            android:label="@string/title_activity_dealer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 店铺页面 -->
        <activity
            android:name="com.bing.lan.bing.ui.shop.ShopActivity"
            android:label="@string/title_activity_shop"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.shopcreate.ShopCreateActivity"
            android:label="@string/title_activity_shop_create"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.shopauthenticate.ShopAuthenticateActivity"
            android:label="@string/title_activity_shop_authenticate"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 照片裁剪 -->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.dealercreate.DealerCreateActivity"
            android:label="@string/title_activity_dealer_create"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.dealerauthenticate.DealerAuthenticateActivity"
            android:label="@string/title_activity_dealer_authenticate"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.takemoney.TakeMoneyActivity"
            android:label="@string/title_activity_take_money"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.notsettlement.NotSettlementActivity"
            android:label="@string/title_activity_not_settlement"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.notavailable.NotAvailableActivity"
            android:label="@string/title_activity_not_available"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.applymoney.ApplyMoneyActivity"
            android:label="@string/title_activity_apply_money"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.incomedetail.IncomeDetailActivity"
            android:label="@string/title_activity_income_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.managecard.ManageCardActivity"
            android:label="@string/title_activity_manage_card"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.addcard.AddBankCardActivity"
            android:label="@string/title_activity_add_bank_card"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.mapsearch.MapSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- <activity -->
        <!-- android:name="com.bing.lan.bing.ui.map.MapActivity1" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"/> -->
        <activity
            android:name="com.bing.lan.bing.ui.map.AMapActivity"
            android:label="@string/title_activity_amap"
            android:theme="@style/AppTheme.NoActionBar"
        >
            <!--android:process=":map"-->
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.verification.VerificationActivity"
            android:label="@string/title_activity_verification"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.modifyPassword.ModifyPswActivity"
            android:label="@string/title_activity_modify_psw"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.joinsuccess.JoinSuccessActivity"
            android:label="@string/title_activity_join_success"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.deviceselect.DeviceSelectActivity"
            android:label="@string/title_activity_device_select"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.dispatchdevice.DispatchDeviceActivity"
            android:label="@string/title_activity_dispatch_device"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.withdrawrecorddetail.WithdrawRecordDetailActivity"
            android:label="@string/title_activity_dispatch_device"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.registerPOS.RegisterPosActivity"
            android:label="@string/title_activity_register_pos"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.notAvailableDetail.NotAvailableDetail"
            android:label="@string/title_activity_not_available_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bing.lan.bing.ui.notSettlementDetail.NotSettlementDetail"
            android:label="@string/title_activity_not_settlement_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>